{% extends "base.html" %}

{% block content %}

<div class="container">
    {% include 'partials/_messages.html' %}
    <h1>DESIGN AND IMPLEMENTATION OF A WEB-APP FOR SOCCER DATA ANALYSIS USING MACHINE LEARNING MODELS.</h1>
    <p>BY GONZALO AZCARATE </p>

    <p>This project aims to develop a web-app that shows information related with soccer events.
         On the one hand, it will show different graphs and dashboards that will allow a better understanding of the data.</p>

    <p>On the other hand, it will show the result of different prediction models and the conclusions that we can extract from them.
        Even if the project's objectives have been achieved, there is still opportunity for improvement,
        particularly in the areas of feature growth and performance optimization.</p>

    <p>Throughout the project, many successes have been achieved in terms of the efficient feature implementation,
         as well as efficient data display and retrieval. Lessons learned included the importance of meticulous planning,
          effective time management, problem-solving skills, and maintaining a well-documented codebase.</p>

    <p>Overall, this projects shows technical proficiency and a through understanding of prediction models,
        data analysis and its conclusions as well as the ability to create a robust and user-friendly web app.</p>
</div>

{% endblock %}
