{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
    {% include 'partials/_messages.html' %}
    <h2>Machine Learning Analysis</h2>
    <p>In this section, we delve into various machine learning models to uncover valuable insights. 
        You can select from KNN, Decision Tree, or Linear Regression models
        to view specific results and understand their application and outcomes.</p>

    <form id="model_form" method="post">
        {% csrf_token %}
        <label for="model_select">Select a model:</label>
        <select name="model_select" id="model_select">
            <option value="">Select...</option>
            <option value="knn">KNN</option>
            <option value="decision_tree">Decision Tree</option>
            <option value="linear_regression">Linear Regression</option>
            <option value="svm">SVM</option>
            <option value="summary">Summary</option>
        </select>
        <button type="button" onclick="handleSubmit()">Submit</button>
    </form>
</div>
<!-- Includes the generated Django URLs -->
 <script type="text/javascript">
    const urls = {
        knn: "{% url 'knn' %}",
        decision_tree: "{% url 'decision_tree' %}",
        linear_regression: "{% url 'linear_regression' %}",
        svm: "{% url 'svm' %}",
        summary: "{% url 'summary' %}"
    };
</script>
<script src="{% static 'js/machine_learning.js' %}"></script>
{% endblock %}
